*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}
html,body{
    height: 100%;
    width: 100;
    
}
#main{
    height: 100%;
    width: 100%;
}
#header{
     height: 13%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
#logo{
    height: 70%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.text{
    color: rgb(0, 0, 92);
    display: flex;
}
.text:hover{
    background-color: rgb(0, 176, 211);
}
#contactDeatails{
    font-weight: lighter;
}
.icon{
    padding: 10px;
    border-radius: 50%;
   
}
.icon:hover{
 background-color: lightblue;
}
#login{
    padding: 10px;
    border-radius: 50px;
    display: flex;
}
#login:hover{
    background-color: lightblue;
}
#try{
    background-color: green;
    padding: 10px 20px;
    color: aliceblue;
}
#try:hover{
    background-color: rgb(1, 12, 1);
}
#fakeHeader{
    height: 13%;
    width: 100%;
    
}
#page1{
    height: 87%;
    width: 100%;
    background-color: white;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(2, 2, 75);
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#contant{
    width: 100%;
    height: 76%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1{
    height: 90%;
    width: 47%;
    background-color: white;
    margin: 10px;
}
#box2{
    height: 90%;
    width: 47%;
    background-color: rgb(44, 43, 43);
    margin: 10px;
    display: flex;
    align-items: center;
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#heading{
    width: 100%;
    height: 16%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 4, 56);
}

#heading h1{
    font-weight: 600;
}
#box1 h1{
    font-weight: 600;
    color: rgb(0, 0, 82);
    font-size: 50px;
    margin: 30px 10px;
   
}
#box1 p{
    font-size: x-large;
    margin: 10px;
    font-weight: lighter; 
    margin: 30px 10px;
}

#btns{
    display: flex;
}

#btn1{
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(89, 213, 255);
    border-radius: 5px;


}
#btn1:hover{
    background-color: rgb(0, 66, 88);
}
#btn2{
    margin: 10px;
     width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: lightblue;
    border: 1px solid rgb(89, 213, 255);
    border-radius: 5px;

}

#btn2:hover{
    background-color: rgb(7, 124, 163) ;
    color: rgb(0, 67, 92);
    border-color: rgb(0, 67, 92);
}
#page2{
    height: 90vh;
    width: 100%;
    

}